@import "~bootstrap/scss/bootstrap.scss";

@import "~@fontsource/montserrat/300.css";
@import "~@fontsource/montserrat/400.css";
@import "~@fontsource/montserrat/700.css";

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  background-image: linear-gradient(
      to left,
      transparent 0px,
      transparent 20px,
      rgba(#000, 0.02) 20px,
      rgba(#000, 0.02) 40px
    ),
    linear-gradient(
      to bottom,
      transparent 0px,
      transparent 20px,
      rgba(#000, 0.02) 20px,
      rgba(#000, 0.02) 40px
    );
    background-size: 40px, 100% 40px;
}

img {
  max-width: 100%;
}
